/* Completed.css */

/* Container for Completed component */
.completed-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Loading and Error states */
  .completed-container.loading,
  .completed-container.error {
    text-align: center;
    font-size: 18px;
    color: #888888;
  }
  
  /* Header styles */
  .completed-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
  }
  
  /* Message for no items */
  .no-items-message {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  /* Completed item styles */
  .completed-item {
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .completed-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333333;
  }
  
  .completed-item p {
    font-size: 16px;
    margin-bottom: 5px;
    color: #555555;
  }
  
  /* Book cover styles */
  .book-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .book-cover {
    width: 100px;
    height: auto;
    margin-right: 20px;
  }
  
  .no-cover {
    font-style: italic;
    color: #888888;
  }
  
  /* Modal styles */
  .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }
  
  /* Rating stars */
  .rating-container {
    margin-bottom: 15px;
  }
  
  .rating-container span {
    font-size: 24px;
    color: #888888;
    cursor: pointer;
  }
  
  .rating-container .star-filled {
    color: #ffc107;
  }
  
  /* Review text area */
  .review-text {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  /* Submit button */
  .submit-review-btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .submit-review-btn:hover {
    background-color: #0056b3;
  }
  
  /* Remove button */
  .remove-button {
    background-color: #f8d7da;
    color: #721c24;
    border: 2px solid #f5c6cb;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .remove-button:hover {
    background-color: #f1b0b7;
    color: #ffffff;
  }
  
  /* Add Review button */
  .add-review-button {
    background-color: transparent;
    color: #ff0000;
    border: 2px solid #ff0000;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .add-review-button:hover {
    background-color: #ff0000;
    color: #ffffff;
  }
  