/* HomePage.css */

/* Container for the home page */
.home-page {
    text-align: center;
    padding: 20px;
  }
  
  /* Main title styling */
  .main-title {
    text-align: center;
    color: #555;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  /* Quote box styling */
  .quote-box {
    max-width: 50%;
    margin: 0 auto 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    color: #555;
  }
  
  /* Quote text styling */
  .quote-text {
    font-style: italic;
    margin-bottom: 10px; /* Add space between the quote and the author */
  }
  
  /* Quote author styling */
  .quote-author {
    font-weight: bold;
  }
  
  /* Image styling */
  .open-book-image {
    width: 40%;
    height: auto;
    display: block;
    margin: 20px auto;
    border: 1px solid #555;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #555;
  }
  
  /* Search bar container styling */
  .search-bar-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Results container styling */
  .results-container {
    text-align: center;
  }
  
  /* Book item styling */
  .book-item {
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Book container styling */
  .book-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  /* Book cover styling */
  .book-cover {
    width: 100px;
    height: auto;
    margin-right: 20px;
  }
  
  /* No cover available styling */
  .no-cover {
    font-style: italic;
    color: #888888;
  }
  
  /* Button styling */
  button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .success-message {
    color: green;
    font-size: 1.2em;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    width: 80%;
    margin: 10px auto;
  }
  