
.login {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    
    /* Header styles */
    .login h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
    text-align: center;
    }
    
    /* Input styles */
    .login input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }
    
    /* Button styles */
    .login button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #d13525;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    
    .login button
    {
    background-color: #d13525;
    }
    
    /* Optional: Form level error or message styles */
    .login .error-message {
    color: #dc3545;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    }