/* ProfilePage.css */

/* Container for profile page */
.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Header styles */
  .profile-header {
    margin-bottom: 20px;
  }
  
  .profile-header h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333333;
  }
  
  .profile-header p {
    font-size: 16px;
    margin-bottom: 5px;
    color: #666666;
  }
  
  /* My Reviews section */
  .my-reviews {
    margin-top: 30px;
  }
  
  .my-reviews h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333333;
  }
  
  .my-reviews p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555555;
  }
  
  .my-reviews ul {
    list-style-type: none;
    padding: 0;
  }
  
  .my-reviews li {
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .my-reviews li p {
    margin: 5px 0;
    color: #666666;
  }
  
  /* Loading spinner */
  .loading {
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
    color: #888888;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .profile-container {
      padding: 15px;
    }
  
    .my-reviews li {
      padding: 12px;
    }
  }
  
  .star-rating {
    color: #962715; /* Replace with your desired hex color */
  }