/* Register.css */

/* Container for the registration form */
.register {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Header styles */
  .register h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Input styles */
  .register input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Button styles */
  .register button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #d13525;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .register button:hover {
    background-color: #d13525;
  }
  
  /* Optional: Display user ID styles */
  .register p {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #666666;
  }
  
  /* Optional: Form level error or message styles */
  .register .error-message {
    color: #F70025;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }
  