/* Wishlist.css */

/* Container for the wishlist component */
.wishlist-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Wishlist heading */
.wishlist-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Message for no items */
.no-items-message {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  text-align: center;
}

/* Individual book item in the wishlist */
.book-item {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
}

.book-item h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.book-item p {
  margin-bottom: 4px;
  color: #666;
}

/* Container for book details and remove button */
.book-container {
  display: flex;
  align-items: center;
}

.book-container img {
  width: 120px;
  height: auto;
  margin-right: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.book-container .no-cover {
  font-style: italic;
  color: #888;
}

.book-container button {
  padding: 8px 16px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.book-container button:hover {
  background-color: #c82333;
}
